.container-image {
    border-radius: 24px;  
    width: 816px;
    height: 1076px; 
}

@font-face {
    font-family: sfprodisp;
    src: url(SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: sfpromd;
    src: url(SF-Pro-Rounded-Medium.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

.sfpromd {
    font-family: sfpromd;
    font-size: 36px;
    color: #0C1421;
}

.sfprodisp {
    font-family: sfprodisp;
    font-size: 20px;
    color: #0C1421;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.button {
    border: none;
    background-color: #162D3A;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    width: 388px;
    height: 52px;
    border-radius: 10px;
}
